header,
.header__file-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: var(--dark-800);
  height: 3.5em;
  /* position: fixed;
  inset: 0; */
  /* z-index: 99; */
}

@media (min-width: 48em) {
  header{
    height: 4.5em;
  }
}


.header__btn-container {
  margin-right: 1.5em;
  height: 100%;
  aspect-ratio: 1;
  /* padding-block: 21px; */
  display: grid;
  place-items: center;
  background-color: var(--dark-700);
}
@media (min-width: 90em){
  .header__btn-container {
    margin-right: 0;
  }
}

.menu-icon {
  width: 1.4373em;
  height: 0.875em;
}

.header__logo-container {
  display: none;
}

@media (min-width: 90em) {
  .header__logo-container{
    width: 11.5em;
    height: 100%;
    border-right: 1px solid var(--grey);
    display: grid;
    place-items: center;
    margin-left: 24px;
  }
}

@media (min-width: 48em) {
  .menu-icon {
    width: 1.125em;
    height: 31.875em
  }
}

.toggle-menu {
  margin: 0; padding: 0;
  border: none;
  background: inherit;
}


.header__file-info-container {
  height: 100%;
  width: calc(100% - 56px - 24px);
}

.left {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%
}

@media (min-width: 48em) {
   .header__file-info-container{
    padding: 1em;
  }
}

.file-name-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__file-icon-container {
  margin-right: 1em;
  margin-left: 24px;
}

.document-icon {
  height: 1em;
  width: 13.71px;
  margin-right: 1em;
}

.input-container {
  font-family: 'Roboto', sans-serif;
}

.input-container label {
  display: block;
  margin-bottom: 3px;
  color: var(--grey-light-500);
  font-weight: 300px;
  font-size: 0.8125em;
  text-transform: capitalize;
}

.input-container input {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 0.9375em;
  font-weight: 400px;
}

.input-container input:focus {
  border-bottom: 1px solid white;
}

.save-delete-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-btn-container {
  height: 2.5em;
  width: 2.5em;
  margin-right: 8px;
  margin-left: 24px;
}

@media (min-width: 48em) {
  .save-btn-container {
    width: 9.625em;
    height: 40px;
  }
}

.save-btn:hover {
  background: var(--orange-light);
}



