blockquote p {
  padding: 0;
  color: var(--txt-dark-1);
  font-weight: 700;
}

blockquote {
  margin-block: 1.25rem;
  border-left: 4px solid var(--orange-dark);
}

pre, blockquote {
  padding: 1.5em;
  background: var(--light-block-bg);
  border-radius: 4px;
}

code {
  color: var(--txt-dark-1);
}

ul, ol {
  margin-left: 1.5rem;
}

ol {
  margin-bottom: 1.25em;
}


ul li::marker {
  color: var(--orange-dark);
}

li:not(:last-child) {
  margin-bottom: 4px;
}

body:last-child {
  margin-bottom: calc(54px - 1em);
}
