.input, .output {
  padding: 1em 1.25em
}

/* .output {
  border: 1px solid red;
} */


@media (min-width: 48em) {
  .markdown-main {
    display: flex;
    justify-content: space-between;
  }

  .markdown-main__output-container, .markdown-main__input-container{
    width: 50%;
    transition: var(--transition);
  }

  .markdown-main__input-container.hide {
    width: 0;
  }

  .markdown-main__output-container.show {
    width: 100%;
    transform: var(--transition);
  }
  
  .output.show {
    max-width: 42em;
    margin-inline: auto;
    padding-inline: 3em;
  }

  .markdown-main__input-container{
    border-right: 1px solid var(--preview-border);
  }
  .markdown-main__input-container .show-icon {
    display: none;
  }
  
}
