.markdown-logo {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
