:root {
  --white: #FFFFFF;
  --dark: #151619;
  --orange-dark: #E46643;
  --orange-light: #F39765;
  --dark-700: #35393F;
  --dark-800: #2B2D31;
  --dark-900: #1D1F22;
  --grey: #5A6069;
  --grey-400: #C1C4CB;
  --grey-600: #5A6069;
  --grey-light-500: #7C8187;
  --grey-light-200: #F5F5F5;
  --light-border-grey: #E4E4E4;

  --roboto-mono: 'Roboto Mono';
  --roboto-slab: 'Roboto Slab';

  --transition: all .3s ease;
}

.light-mode {
  --heading-color: var(--dark-700);
  --blockquote-p: var(--dark-700);
  --code-bg: var(--grey-light-200);
  --main-p-grey-color: var(--grey-light-500);
  --modal-overlay: var(--grey-light-500);
  --modal-bg: var(--white);
  --preview-border: var(--light-border-grey);
  --preview-markdown-top-sec: var(--grey-light-200);
  --preview-markdown-top-color: var(--grey-light-500);
  --main-bg-color: var(--white)
  transition: var(--transition);
}

.dark-mode{
  --heading-color: var(--white);
  --blockquote-p: var(--white);
  --code-bg: var(--dark-800);
  --main-p-grey-color: var(--grey-400);
  --modal-bg: var(--dark-900);
  --modal-overlay: var(--grey-light-500);
  --preview-border: var(--light-border-grey);
  --preview-markdown-top-sec: var(--dark-900);
  --preview-markdown-top-color: var(--grey-400);
  --main-bg-color: var(--dark)
  transition: var(--transition);
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

body {
  background-color: var(--main-bg-color);
}

/* font */
h1, h2, h3, h4, h5, h6, p {
 font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5 {
  color: var(--heading-color)
}

h1, h3, h4, h5, h6 , .p-bold{
  font-family: 700;
}

h1 {
  margin-bottom: 1.375em;
  font-size: 32px;
  /* line-height: 2.625em; */
}

h2 {
  border: 1px solid;
  font-size: 1.75em;
  font-family: 'Roboto Slab';
  line-height: 2.3125em;
  font-weight: 300;
  line-height: 2em;
}

h3 {
  font-size: 1.5em
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
  color: var(--orange-dark)
}

/* weight */
.p-regular, .p-mono {
  font-weight: 400;
}

textarea:focus, input:focus{
    outline: none;
}


/* margin bottom */ 
p, h2, h4, h5, h6, pre {
  margin-bottom: 1.25em;
}

a {
  color: var(--blockquote-p)
}

p, ul, ol {
  color: var(--grey-light-500);
  font-size: 0.875em;
  font-family: var(--roboto-slab);
}

button {
  cursor: pointer;
}
