:root {
  --dark: #151619;
  --orange-dark: #E46643;
  --orange-light: #F39765;
  --txt-dark-1: #35393F;
  --grey: #5A6069;
  --txt-grey-light: #7C8187;
  --light-preview-bg: #F5F5F5;
  --dark-header-bg: #2B2D31;
  --lighter-header-btn-bg: #35393F;
  --aside-dark-bg: #1D1F22;
  --overlay-dark: rgba(var(--dark), 0.5);

  --roboto-mono: 'Roboto Mono';
  --roboto-slab: 'Roboto Slab';

  --transition: all .3s ease;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}


/* font */
h1, h2, h3, h4, h5, h6, p {
 font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5 {
  color: var(--txt-dark-1)
}

h1, h3, h4, h5, h6 , .p-bold{
  font-family: 700;
}

h1 {
  margin-bottom: 1.375em;
  font-size: 32px;
  /* line-height: 2.625em; */
}

h2 {
  border: 1px solid;
  font-size: 1.75em;
  font-family: 'Roboto Slab';
  line-height: 2.3125em;
  font-weight: 300;
  line-height: 2em;
}

h3 {
  font-size: 1.5em
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
  color: var(--orange-dark)
}

/* weight */
.p-regular, .p-mono {
  font-weight: 400;
}

textarea:focus, input:focus{
    outline: none;
}


/* margin bottom */ 
p, h2, h3, h4, h5, h6, pre {
  margin-bottom: 1.25em;
}

a {
  color: var(--txt-dark-1)
}

p, ul, ol {
  color: var(--txt-grey-light);
  font-size: 0.875em;
  font-family: var(--roboto-slab);
}

button {
  cursor: pointer;
}
